# Dependencies
node_modules/

# Build output
dist/
.astro/

# Lighthouse-Reports
lh*.json
lhd.json

# Playwright
test-results/
playwright-report/
.playwright/

# Logs & env
*.log
.env
.env.production
.DS_Store
Thumbs.db
